/node_modules/
/plugins/
/sandbox/
/src/
/typings/
/vendor/

/.babelrc
/.editorconfig
/.eslintrc.json
/.gitignore
/.travis.yml
/deploy-github.sh
/gulpfile.js
/tsconfig.json
/tslint.json
/typings.json
/webpack.*.js
/iot-dashboard-*.tgz
# IntelliJ Project Files
/.idea/
*.iml
