/* BEGIN app.css */


.drag {
    cursor: move;
    /*
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;  */
}

.menu-trigger {
    position: fixed;
    top: 0;
    height:  11px;
    width: 100%;
    z-index: 1000;
    /*border: red dashed 1px;*/
}

.topnav--hidden {
    /*display: none !important;*/
    min-height:  0 !important;
    height:  0;
    overflow: hidden;
    -webkit-transition: all 1s, transform 1s;
    transition: all 1s, transform 1s;
}


.topnav--visible {
    min-height: 0 !important;
    height: 40px;
    overflow: hidden;
    -webkit-transition: all 0.5s, transform 1s;
    transition: all 0.5s, transform 1s;
}

.topnav--hidden + .ui.grid {
    padding-top: 0!important;
    -webkit-transition: all 1s, transform 1s;
    transition: padding-top 1s, transform 1s;
}

.topnav--visible + .ui.grid {
    -webkit-transition: all 0.5s, transform 1s;
    transition: padding-top 0.5s, transform 1s;
}



/* END app.css */